.container {
  background-color: white;
  width: 30%;
  height: 450px;
  opacity: 90%;
  border-radius: 8px;
  color: #020d15;
  text-align: start;
  padding: 20px;
  padding-top: 25px;
  overflow-y: auto;
  border: 2px solid;
}

.button {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    height: 400px;
    margin-bottom: 3%
  }
}
