.container {
  background-color: #020d15;
  width: 40%;
  height: 450px;
  opacity: 90%;
  border-radius: 8px;
  color: white;
  text-align: start;
  padding: 10px;
  overflow-y: auto;
}

h2 {
  margin: 0;
}
