.container {
  background-color: #020d15;
  width: 30%;
  height: 450px;
  opacity: 80%;
  border-radius: 8px;
  color: white;
  text-align: start;
  padding: 20px;
  padding-top: 25px;
  overflow-y: auto;
}

h2 {
  margin: 0;
}

.hr {
  margin: 1;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    height: 400px;
    margin-bottom: 3%
  }
}
