h3 {
  margin-bottom: 0px;
}

p {
  margin-top: 8px;
}

.trackContainer {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plusSign {
  /* background-color: navy; */
  margin: -5px 10px 0px 10px;
}

.nameAndPlayButton {
  display: flex;
}

i {
  /* background-color: red; */
  margin-left: 8px;
  padding-top: 22px;
}
